@import "open-props/style";

:root {
  /*https://m3.material.io/theme-builder#/custom : #ff5722*/
  --md-sys-color-primary: var(--orange-5);
  --md-sys-color-on-primary: var(--gray-0);

  --md-sys-color-background: #var(--gray-0);
  --md-sys-color-on-background: var(--gray-12);
  --md-sys-color-surface: var(--gray-2);
  --md-sys-color-on-surface: var(--gray-7);
  --md-sys-color-on-surface-variant: var(--gray-6);

  /* filter chips*/
  --md-sys-color-secondary-container: var(--orange-3);
  /* menu background */
  --md-sys-color-surface-container: var(--red-3);
  /* dialog background */
  --md-sys-color-surface-container-high: var(--green-3);
  /*--md-sys-color-primary-container: #ffdbd1;
  --md-sys-color-on-primary-container: #3b0900;*/

  /*--md-ref-typeface-plain: "Comic Sans MS", "Comic Sans", cursive;*/
  --md-ref-typeface-plain: system-ui, -apple-system, sans-serif;
  --md-ref-typeface-brand: var(--md-ref-typeface-plain);
}

@media (prefers-color-scheme: dark) {
  :root {
    --md-sys-color-background: var(--gray-9);
    --md-sys-color-on-background: var(--gray-0);
    --md-sys-color-surface: var(--gray-8);
    --md-sys-color-on-surface: var(--gray-4);
    --md-sys-color-on-surface-variant: var(--gray-6);
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: var(--md-ref-typeface-plain);
}

body {
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
  margin: 0;
}

notes-app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}