:root {
  /*https://m3.material.io/theme-builder#/custom : #ff5722*/
  --md-sys-color-primary: #ff922b;
  --md-sys-color-on-primary: #f8f9fa;

  --md-sys-color-background: #f8f9fa;
  --md-sys-color-on-background: #030507;
  --md-sys-color-surface: #e9ecef;
  --md-sys-color-on-surface: #495057;
  --md-sys-color-on-surface-variant: #868e96;

  /* filter chips*/
  --md-sys-color-secondary-container: #ffc078;

  /*--md-sys-color-primary-container: #ffdbd1;
  --md-sys-color-on-primary-container: #3b0900;*/

  /*--md-ref-typeface-plain: "Comic Sans MS", "Comic Sans", cursive;*/
  --md-ref-typeface-plain: system-ui, -apple-system, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --md-sys-color-background: #212529;
    --md-sys-color-on-background: #f8f9fa;
    --md-sys-color-surface: #343a40;
    --md-sys-color-on-surface: #ced4da;
    --md-sys-color-on-surface-variant: #868e96;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: var(--md-ref-typeface-plain);
}

body {
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
  margin: 0;
}

notes-app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}